# Core packages
Flask==3.0.0
flask_socketio==5.5.1
python-socketio==5.12.0
simple-websocket==0.10.0
requests==2.31.0

# ML and data processing
numpy<2.0.0
pandas
matplotlib==3.10.1
scikit-learn
joblib==1.4.2

# Optional packages based on your application needs
tqdm==4.67.1
